
/* NAVIGATION STUFF GOES HERE  */
body{
    display: grid;
    grid-template-columns: 150px auto;
}
#navWrapper{
    grid-row: 1 /span 3;
    position: relative;
    padding-left: 2.25rem;
}
nav ul{
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    li{
        flex: none;
    }
}
.cardparent{
    grid-template-columns: 1fr 1fr 1fr;
}