/* NAVIGATION STUFF GOES HERE  */
nav {
  ul {
    li{
    a {
      img {
        display: none;
      }
      span {
        display: block;
      }
    }
  }
}
}
#cardparent{
    grid-template-columns: 1fr 1fr;
}