$primaryColor: #D4C4A1; 
$secondaryColor: #B9C9BA;
$thridColor: #B2C3D6;
$fourthColor: #DEB8CC;
$fifthColor: #C2D4B0;
$sixthColor: #D9D752;
$greyColor: #2E2E2E;
$menuColor: #badbed;
$textColor: #333;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;